
@font-face {
    font-family: "romantic";
    src: url(fonts/ROMANTIC.TTF);
    
}
@font-face {
    font-family: "vague";
    src: url(fonts/Vagues-p71my.ttf);
}

body {
    height: 100vh;
    margin: 0;
    background-color: #F0F7FF;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 100vh;
    overflow: hidden;
}

.border {
    border: solid;
}
